<div className="text">
    <h3 class="text-animation indent-right-1">FROM MEDITATIVE JOURNEYS</h3>
    <h3 class="text-animation indent-right-2">TO PHILOSOPHICAL</h3>
    <h3 class="text-animation indent-right-3">DEEP-DIVES, AND</h3>
    <h3 class="text-animation indent-right-4">IMMERSIVE</h3>
    <h3 class="text-animation indent-right-5">SOUNDSCAPES</h3>
    <h3 class="text-animation indent-right-6">THAT GUIDE</h3>
    <h3 class="text-animation indent-right-7">YOUR</h3>

    <h3 class="text-animation indent-left-1">INTROSPECTION,</h3>
    <h3 class="text-animation indent-left-2">WE CURATE</h3>
    <h3 class="text-animation indent-left-3">EXPERIENCES</h3>
    <h3 class="text-animation indent-left-4">DESIGNED TO</h3>
    <h3 class="text-animation indent-left-5">EXPAND YOUR</h3>
    <h3 class="text-animation indent-left-6">PERCEPTION AND</h3>

    <h3 class="text-animation indent-right-7">CONSCIOUSNESS.</h3>
    <h3 class="text-animation indent-right-8">WHETHER</h3>
    <h3 class="text-animation indent-right-9">THROUGH THE</h3>
    <h3 class="text-animation indent-right-10">STILLNESS OF A TEA</h3>
    <h3 class="text-animation indent-right-11">RITUAL OR THE</h3>
    <h3 class="text-animation indent-right-12">DYNAMIC</h3>

    <h3 class="text-animation indent-left-7">EXPRESSION</h3>
    <h3 class="text-animation indent-left-8">OF MOVEMENT,</h3>
    <h3 class="text-animation indent-left-9">EVERY ELEMENT</h3>
    <h3 class="text-animation indent-left-10">INVITES YOU TO</h3>
    <h3 class="text-animation indent-left-11">ENGAGE CREATIVE</h3>
    <h3 class="text-animation indent-left-12">VISION AND STEP INTO THE</h3>

    <h3 class="text-animation indent-right-13">ALCHEMICAL</h3>
    <h3 class="text-animation indent-right-14">PROCESS OF</h3>
    <h3 class="text-animation indent-right-15">SELF-DISCOVERY.</h3> */}
</div>