.community-card {
    display: flex;
    position: relative;
    width: 90vw;
    height: auto;
    flex: 0 0 auto;
    margin: 0 auto;
    border-radius: 60px;
    color: #E6E4D6;
    text-align: start;
    background: linear-gradient(-90deg, #0A0000 0%, #312509 46%, #3B2E12 67%, #59480F 92%);
    box-sizing: border-box;
}

.community-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    z-index: 1;
    pointer-events: none;
}

.community-card-content {
    margin: 3rem 2rem;
    z-index: 2;
}

.community-card-image {
    display: none;
}

.community-card-date {
    margin-bottom: 1rem;
}

@media (min-width: 1024px) {
    .community-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        min-height: 60vh;
        margin: 0 auto;
    }

    .community-card::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        background-color: rgba(230, 228, 214, 0.05);
        z-index: 0;
        pointer-events: none;
        margin: 2rem;
    }

    .community-card-content {
        grid-column: 1;
        margin: auto 4rem 4rem 2rem ;
        z-index: 2;
    }}